.portlet-remote-app-admin {
	.lfr-form-rows {
		counter-reset: line-number;
	}

	.undomanager {
		display: none;
	}

	.lfr-form-row {
		border: none;
		counter-increment: line-number;
		padding: 0;

		&:not(:nth-child(2)) label:after {
			content: '(' counter(line-number) ')';
		}

		&:hover {
			border: none;
		}
	}

	.lfr-autorow-controls {
		bottom: auto;
		position: absolute;
		right: 0;
		top: 0;
	}

	.toolbar-content {
		display: flex;
		gap: 4px;

		button {
			border-radius: 10px;
			height: 20px;
			padding: 0;
			width: 20px;

			.lexicon-icon {
				height: 10px;
				width: 10px;
			}

			&[disabled] {
				display: none;
			}
		}
	}

	.configured-from-ui {
		border-color: rgb(90, 202, 117);
		color: rgb(40, 125, 60);
		font-weight: bold;
	}

	.configured-from-workspace {
		border-color: rgb(39, 40, 51);
		color: rgb(153, 153, 153);
		font-weight: bold;
	}
}
