.object__custom-select {
	&-input {
		caret-color: transparent;
		cursor: pointer;
	}
}

.dropdown-menu {
	max-height: 22rem;
}

.lfr-object__single-select--with-label {
	display: flex;
	justify-content: space-between;
}

.base-select__input-icon {
	bottom: 0;
	margin: auto;
	pointer-events: none;
	position: absolute;
	right: 1rem;
	top: 0;

	&--disabled {
		color: #a7a9bc;
	}
}
