@import 'cadmin-variables';

$product-menu-pages-administration-link-height: 72px;

html#{$cadmin-selector} {
	.cadmin {
		&.copy-page-modal {
			.modal-content {
				min-height: 344px;
			}
		}

		.pages-tree {
			margin-bottom: calc(
				#{$product-menu-pages-administration-link-height} + #{$cadmin-spacer}
			);

			.treeview-dropping-middle {
				background-color: rgba($white, 0.06);
			}
		}
	}
}
