@import 'cadmin-variables';

$product-menu-pages-administration-link-height: 72px;

html#{$cadmin-selector} {
	.cadmin {
		.pages-tree {
			margin-bottom: calc(
				#{$product-menu-pages-administration-link-height} + #{$cadmin-spacer}
			);

			.treeview-dropping-middle {
				background-color: rgba($white, 0.06);
			}

			.treeview-link {
				&:not(.active, .treeview-link--with-children) {
					cursor: default;

					&:hover {
						background-color: transparent;
					}
				}
			}

			&__item-name {
				flex-grow: 1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
