.summary-policy-container {
	.policy-summary-title::after {
		background-color: var(--primary);
		content: '';
		display: block;
		height: 1px;
		margin-top: 6px;
		position: absolute;
		width: 25px;
	}
	.cursor-pointer {
		cursor: pointer;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 700px) {
	.summary-policy-content {
		margin-right: 0 !important;
		padding-bottom: 10px !important;
		width: 100% !important;
	}
}
