@import 'atlas-variables';

@import 'miller_columns/DragPreview';
@import 'miller_columns/MillerColumns';

@import '../js/layout/look_and_feel/GlobalCSSCETsConfiguration';
@import '../js/layout/look_and_feel/GlobalJSCETsConfiguration';

.portlet-layouts-admin {
	.card-page-item-directory {
		@include media-breakpoint-up(lg) {
			flex-basis: 33.33333%;
			max-width: 33.33333%;
		}
	}

	.customization-settings #main-content .portlet-column {
		border: 1px solid #0b5fff;
		text-align: center;
	}
}
