.button-millitary-affiliation {
	height: 100%;
	padding-bottom: 11px;
	padding-left: 16px;
	padding-right: 8px;
	padding-top: 11px;
	width: 100%;

	.button-millitary-affiliation-icon {
		font-size: 25px;
	}
}

.select-years {
	.select-style {
		color: #5f6167;
		cursor: pointer;
	}
}

.calendar-icon {
	fill: grey;
	height: 24px !important;
	left: 276px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 15px;
	width: 18px !important;
}
