@import 'liferay';

@import 'variables';

@import 'components/breadcrumb_search';

// stylelint-disable selector-type-no-unknown
liferay-remote-app-testray {
	@import 'typography';

	@import 'components/avatar';
	@import 'components/breadcrumb_finder';
	@import 'components/chart';
	@import 'components/code';
	@import 'components/compare_runs_card';
	@import 'components/export_case';
	@import 'components/floating_box';
	@import 'components/layout';
	@import 'components/layout/sidebar_task';
	@import 'components/progress_bar';
	@import 'components/table';
	@import 'components/tablechart';

	.subnav-tbar-primary {
		background-color: white;

		.result-filter {
			background-color: $color-primary-dark;
			border-color: $color-primary-dark;
			color: $color-white;
		}
	}
}
