<section id="services" style="padding: 60px;">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
			<h2 class="section-heading" data-lfr-editable-id="mainHeading" data-lfr-editable-type="text">Your Services</h2>
<hr class="my-4" />
		</div>
		</div>
	</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 text-center">
<div class="mt-5 mx-auto service-box">
<i class="fa-4x fa-gem fas mb-3 sr-icon-1 text-primary"></i>

			  <h3 class="mb-3" data-lfr-editable-id="servicesHeadingOneText" data-lfr-editable-type="text">Study guides</h3>

			<p class="text-muted mb-0" data-lfr-editable-id="servicesParaOneText" data-lfr-editable-type="text">Our study guides are updated regularly...</p>
			</div>
		</div>
<div class="col-lg-3 col-md-6 text-center">
<div class="mt-5 mx-auto service-box">
<i class="fa-4x fa-paper-plane fas mb-3 sr-icon-2 text-primary"></i>

			<h3 class="mb-3" data-lfr-editable-id="servicesHeadingTwoText" data-lfr-editable-type="text">Delivery procedures</h3>

			<p class="text-muted mb-0" data-lfr-editable-id="servicesParaTwoText" data-lfr-editable-type="text">Delivery procedures should be second nature, Are you up to date!!</p>
			</div>
		</div>
<div class="col-lg-3 col-md-6 text-center">
<div class="mt-5 mx-auto service-box">
<i class="fa-4x fa-code fas mb-3 sr-icon-3 text-primary"></i>
			  <h3 class="mb-3" data-lfr-editable-id="servicesHeadingThreeText" data-lfr-editable-type="text">Get your contract</h3>

			<p class="text-muted mb-0" data-lfr-editable-id="servicesParaThreeText" data-lfr-editable-type="text">Use our service to download the latest version of your contract.</p>
			</div>
		</div>
<div class="col-lg-3 col-md-6 text-center">
<div class="mt-5 mx-auto service-box">
<i class="fa-4x fa-heart fas mb-3 sr-icon-4 text-primary"></i>
			<h3 class="mb-3" data-lfr-editable-id="servicesHeadingFourText" data-lfr-editable-type="text">Order you uniform</h3>

			<p class="text-muted mb-0" data-lfr-editable-id="servicesParaFourText" data-lfr-editable-type="text">Make sure you address our brand by looking super fresh!!</p>
			</div>
		</div>
		</div>
	</div>
</section>