<table class="table table-borderless w-100">
	<thead>
		<tr>
			<th class="w-50">
				<p class="text-neutral-10" id="tableTitle" type="rich-text">
					Contact Info
				</p>
			</th>
			<th class="w-50"></th>
		</tr>
	</thead>

	<tbody class="ml-1">
		<tr>
			<td class="w-50">
				<p class="text-neutral-10" type="rich-text">First Name</p>
			</td>
			<td class="w-50">
				<p class="text-neutral-10" id="firstName" type="rich-text"></p>
			</td>
		</tr>
		<tr>
			<td class="w-50">
				<p class="text-neutral-10" type="rich-text">Email</p>
			</td>
			<td>
				<p class="text-neutral-10" id="infoEmail" type="rich-text"></p>
			</td>
		</tr>
	</tbody>
</table>