.policy-active-claims-container {
	padding: 0 200px;

	@media screen and (max-width: 1500px) {
		padding: 0 50px;
	}
	.policy-active-claims-title::after {
		background-color: var(--primary);
		content: '';
		display: block;
		height: 1px;
		margin-top: 5px;
		position: relative;
		width: 25px;
	}
	.policy-active-claims-title {
		padding-bottom: 10px;
	}
	a {
		color: #4bc286;
	}

	.header-border {
		border-bottom: 1px #aaa !important;
	}

	.info-row:not(:last-child) td::after {
		background-image: linear-gradient(
			to right,
			#aaa 0%,
			#aaa 20%,
			transparent 20%
		);
		background-position: 0 0;
		background-repeat: repeat-x;
		background-size: 6px 1px;
		bottom: 0;
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
	}
}
