@import 'atlas-variables';

.lfr-object__action-builder {
	&-then {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: center;

		.form-control {
			width: auto;
		}

		.custom-control.custom-checkbox {
			margin: 0;
		}
	}

	&-notification-then {
		padding-bottom: 1.7rem;
	}

	&-tooltip-icon {
		color: $secondary-l1;
	}
}
