.testray-progress-bar {
	display: flex;
	height: 15px;
	margin: 10px 0;
	white-space: nowrap;

	.progress-bar-item {
		&.blocked {
			background-color: $color-yellow;
		}

		&.failed {
			background-color: $color-red;
		}

		&.others-completed {
			background-color: $color-primary-light;
		}

		&.passed {
			background-color: $color-green;
		}

		&.self-completed {
			background-color: $color-primary;
		}

		&.test-fix {
			background-color: $color-blue;
		}

		&.test-incomplete {
			background-color: $color-gray-light;
		}

		&:first-child {
			border-bottom-left-radius: 30px;
			border-top-left-radius: 30px;
		}

		&:last-child {
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
		}
	}

	.legend-item-label {
		color: $label-color;
		font-size: 12px;
		font-weight: $font-header-weight;
		text-transform: uppercase;
	}

	.legend-bar-item {
		height: 16px;
		width: 16px;

		&.blocked {
			background-color: $color-yellow;
		}

		&.failed {
			background-color: $color-red;
		}

		&.others-completed {
			background-color: $color-primary-light;
		}

		&.passed {
			background-color: $color-green;
		}

		&.self-completed {
			background-color: $color-primary;
		}

		&.test-fix {
			background-color: $color-blue;
		}

		&.test-incomplete {
			background-color: $color-gray-light;
		}
	}
}
