.floating-box {
	background-color: white;
	bottom: 10px;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.04),
		0 4px 14px 0 rgba(0, 0, 0, 0.1);
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	width: 650px;
	z-index: 98;

	.box-alerts {
		max-height: 100px;
		overflow-y: auto;

		.box-alert {
			background-color: #fff0f1;
			margin-bottom: 0;
			padding: 5px;
		}
	}

	.box-label-selected {
		align-items: center;

		.selected-count {
			background-color: #373ecc;
			color: white;
			height: 26px;
			padding: 1px;
			text-align: center;
			width: 25px;
		}
	}
}

.box-hidden {
	margin-bottom: -10px !important;
	opacity: 0 !important;
	transition: all 0.5s ease;
	visibility: hidden !important;
}

.box-visible {
	margin-bottom: 0;
	opacity: 1;
	transition: all 0.5s ease;
	visibility: visible;
}
