.lfr-layout-structure-item-row {
	overflow: hidden;
}

.lfr-layout-structure-item-z896587a-c659-43f5-9e22 {
	margin-bottom: var(--spacer-1, 0.25rem) !important;
	margin-top: var(--spacer-4, 1.5rem) !important;
}