@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .page-editor__length-field {
	&__button {
		font-size: 0.75rem;
		min-width: 45px;
	}

	&__dropdown {
		min-width: 96px;

		.dropdown-item {
			font-size: 0.75rem;
		}
	}
}
