.bar-chart{
  flex-wrap: wrap;
}

.bar-chart .bb-chart-text{
	color: #272833;
	font-size: 25px;
	font-weight: bold;
}
.bar-chart .bar-chart-title{
  text-transform: uppercase;
}

.bar-chart .bb-axis{
	color: #5C5E5E;
	font-size: 10px;
	text-transform: uppercase;
}