$normal-transition-width: width 0.9s ease;
$hover-transition-width: width 0.9s ease;

$normal-transition: opacity 1s ease;
$hover-transition: opacity 1s ease;

.testray-sidebar {
	background-color: #18215c;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0 0;
	transition: $normal-transition-width;
	width: 80px;

	&:hover {
		transition: $hover-transition-width;
		width: 250px;
	}

	.divider {
		background-color: $sidebar-divider-color;
		height: 1px;
		margin: 20px 25px;
		min-height: 1px;
		opacity: 0.25;

		&.divider-full {
			margin: 0;
		}
	}

	.testray-sidebar-content {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.testray-sidebar-footer {
		overflow: hidden;
	}

	.testray-sidebar-item {
		color: #8b8db2;
		display: block;
		padding: 10px 30px;
		position: relative;
		transition: 0.75s ease-in-out 0.33s;
		white-space: nowrap;

		&:active,
		&:focus,
		&:hover {
			background-color: #303376;
			color: white;
			text-decoration: none;
			transition: $hover-transition;
		}

		&.active {
			background-color: #303376;
			color: #8b8db2;

			.testray-sidebar-text {
				color: white;
			}
		}

		.testray-sidebar-text {
			font-size: 1.2em;
			font-weight: 450;
			opacity: 0;
			padding-left: 10px;
			transition: $normal-transition;
			vertical-align: middle;
		}
	}
}

.testray-sidebar:hover .testray-sidebar-item {
	padding: 10px 30px;
	transition: $hover-transition;
}

.testray-sidebar:hover .testray-sidebar-text {
	opacity: 1;
	transition: $hover-transition;
}

.testray-logo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 40px;
	margin-left: 20px;
	max-width: 40px;
	min-height: 40px;
	min-width: 40px;
	transition: $normal-transition;
	width: 40px;
}

.testray-brand-logo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 30px;
	margin-left: 5px;
	margin-right: 30px;
	margin-top: 5px;
	min-height: 30px;
	min-width: 150px;
	opacity: 0;
	transition: $normal-transition;
	width: 150px;
}

.testray-sidebar:hover .testray-brand-logo {
	opacity: 1;
	transition: $hover-transition;
}

.testray-avatar-dropdown {
	color: #8b8db2;
	padding: 10px 20px;
}

.testray-avatar-dropdown-text {
	opacity: 0;
	transition: $normal-transition;
}

.testray-sidebar:hover .testray-avatar-dropdown-text {
	opacity: 1;
	transition: $hover-transition;
}
