.ddm-select-option-label {
	.label-item {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.ddm-multiple-select-list {
	display: flex;
	margin: 0;
	padding: 0;
}
