.form-input-catpcha--hidden-label .control-label {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.form-input-catpcha--hidden-label .help-text {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}
