@import 'atlas-variables';
@import 'cadmin-variables';

@import 'DropdownColorPicker';

html#{$cadmin-selector} {
	.cadmin {
		.page-editor__color-picker {
			display: flex;

			.clay-color > .input-group-item > .input-group-text {
				border-radius: 4px 0 0 4px;
			}

			&.has-error {
				.clay-color > .input-group-item > .input-group-text {
					border-color: $cadmin-danger-l1;
				}
			}

			&.hovered .page-editor__dropdown-color-picker__selector {
				background-color: $cadmin-gray-100;
			}

			&:not(:hover):not(:focus-within):not(.hovered):not(.custom) {
				.page-editor__color-picker__action-button {
					opacity: 0;
				}
			}
		}
	}
}
