@import 'atlas-variables';

.lfr-objects__code-editor {
	display: flex;
	height: 472px;

	&-source {
		border-right: 1px solid $gray-300;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		padding: 1.5rem;
		width: 100%;
	}
}
