@import 'atlas-variables';

html#{$cadmin-selector} {
	.page-editor__reorder-set-modal {
		.card {
			cursor: grab;
		}

		.card.dragging {
			opacity: 0.4;
		}

		.dropdown-menu {
			min-width: 192px;
		}

		.lexicon-icon-drag {
			height: 16px;
			margin: 0;
			width: 16px;
		}

		.modal-body {
			max-height: 70vh;
			overflow: auto;
		}

		.nav-underline {
			border-bottom: 1px solid $secondary-l3;
		}
	}
}
