$toolbarHeight: 112px;
$sidebarButtonHeight: $sidebarButtonWidth;
$desktopToolbarHeight: 64px;
$changeTrackingBarHeight: 23px;
$toolbarBorders: 2px;

// z-indexes for children of page-editor-sidebar (which is a stacking context).

$zIndexButtons: 1;
$zIndexContent: 0;

@mixin sidebar {
	display: flex;
	/* stylelint-disable */
	height: calc(
		100vh -
			(
				var(--control-menu-height) + var(--toolbar-height) +
					var(--change-tracking-indicator-height, 0px)
			)
	);
	position: fixed;
	top: calc(
		var(--control-menu-height) + var(--toolbar-height) +
			var(--change-tracking-indicator-height, 0px)
	);
	/* stylelint-enable */
	z-index: $sidebarZIndex;
}

html#{$cadmin-selector} .cadmin .page-editor__item-configuration-sidebar {
	@include sidebar;
	background: $cadmin-white;
	border-left: 1px solid $cadmin-secondary-l3;
	right: 0;
	transition: transform ease $defaultTransitionDuration;
	width: $sidebarContentWidth;

	transform: translateX(100%);

	&--open {
		transform: translateX(0);
	}
}

html#{$cadmin-selector}
	body.open
	.cadmin
	.page-editor__sidebar:not(.page-editor__sidebar-old) {
	left: $product-menu-width;
}

html#{$cadmin-selector} .cadmin .page-editor__sidebar {
	@include sidebar;
	left: 0;

	transition: left ease $defaultTransitionDuration,
		right ease $defaultTransitionDuration;

	&.page-editor__sidebar-old {
		left: unset;
		right: 0;

		.page-editor__sidebar__content {
			left: unset;
			right: $sidebarButtonWidth;

			border-left: 1px solid $cadmin-secondary-l3;
			border-right: none;

			&:not(.page-editor__sidebar__content--open) {
				transform: translateX(100%);
			}
		}
	}

	&__buttons {
		background-color: $cadmin-gray-200;
		display: flex;
		flex-direction: column;
		font-size: 0.875rem;
		padding: 16px 5px;
		width: $sidebarButtonWidth;
		z-index: $zIndexButtons;

		a {
			align-items: center;
			border-radius: 4px;
			color: $cadmin-secondary;
			display: flex;
			height: 32px;
			justify-content: center;

			&.active,
			&:active,
			&:focus,
			&:hover {
				background-color: $cadmin-light-d1;
				color: $cadmin-secondary-d2;
			}

			&:focus {
				box-shadow: 0 0 0 2px $cadmin-white,
					0 0 0 4px $cadmin-primary-l1, inset 0 0 rgba(0, 0, 0, 0);
				outline: none;
			}
		}

		button {
			color: $cadmin-secondary;
			margin-bottom: 4px;

			&.active,
			&:active,
			&:focus,
			&:hover {
				background-color: $cadmin-light-d1;
				color: $cadmin-secondary-d2;
			}
		}

		hr {
			border-color: $cadmin-secondary;
			margin: 12px 8px;
		}
	}

	&__content {
		background-color: $cadmin-white;
		border-right: 1px solid $cadmin-secondary-l3;
		display: flex;
		flex-direction: column;
		/* stylelint-disable */
		height: calc(
			100vh -
				(
					var(--control-menu-height) + var(--toolbar-height) +
						var(--change-tracking-indicator-height, 0px)
				)
		);
		/* stylelint-enable */
		left: $sidebarButtonWidth;
		overflow-x: hidden;
		position: fixed;
		transform: translateX(-100%);
		transition: transform ease $defaultTransitionDuration;
		width: $sidebarContentWidth;
		z-index: $zIndexContent;

		&--open {
			transform: translateX(0);
		}
	}
}

html#{$cadmin-selector} body {
	--toolbar-height: #{$toolbarHeight};
	/* stylelint-disable */
	--control-menu-height: 0px;
	/* stylelint-enable */

	&.has-control-menu {
		--control-menu-height: #{$controlMenuHeight};

		@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
			--control-menu-height: #{$desktopControlMenuHeight};
		}
	}

	@include media-breakpoint-up(xl, $cadmin-grid-breakpoints) {
		--toolbar-height: #{$desktopToolbarHeight};
	}
}

html#{$cadmin-selector} .page-editor__wrapper {
	padding-left: $sidebarButtonWidth;
	position: relative;
	transition: padding-left ease $defaultTransitionDuration,
		padding-right ease $defaultTransitionDuration;
	will-change: padding-left, padding-right;
	max-height: calc(
		100vh -
			(
				var(--control-menu-height) + var(--toolbar-height) +
					var(--change-tracking-indicator-height, 0px) + #{$toolbarBorders}
			)
	);
	/* stylelint-enable */
	overflow: auto;

	&.page-editor__wrapper-old {
		padding-left: 0;
		padding-right: $sidebarButtonWidth;

		&.page-editor__wrapper--padded {
			@include media-breakpoint-up(sm) {
				padding-left: 0;
				padding-right: $sidebarButtonWidth + $sidebarContentWidth;
			}
		}
	}

	&--padded-start {
		@include media-breakpoint-up(sm) {
			padding-left: $sidebarButtonWidth + $sidebarContentWidth;
		}
	}

	&--padded-end {
		@include media-breakpoint-up(sm) {
			padding-right: $sidebarContentWidth;
		}
	}
}

html#{$cadmin-selector} {
	body.open .page-editor__wrapper#wrapper:not(.page-editor__wrapper-old) {
		padding-left: $product-menu-width + $sidebarButtonWidth;

		.page-editor__wrapper--padded-start {
			@include media-breakpoint-up(sm) {
				padding-left: $product-menu-width + $sidebarButtonWidth +
					$sidebarContentWidth;
			}
		}
	}
}
