@font-face {
	font-display: swap;
	font-family: 'roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/roboto/roboto-regular.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'roboto';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/roboto/roboto-medium.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'roboto';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/roboto/roboto-bold.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'roboto';
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/roboto/roboto-black.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'source serif pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/sourceserifpro/sourceserifpro-regular.ttf);
}
