.ray-sidebar-container {
	height: 100vh;
	transition: width 0.9s ease;
	width: 64px;
}

.ray-sidebar-container:hover {
	width: 200px;
}

.ray-sidebar-container .top-bar {
	padding-left: 12px;
}

.ray-sidebar-container .footer-bar .avatar-container,
.ray-sidebar-container .footer-bar .notification-container,
.ray-sidebar-container .top-bar {
	cursor: pointer;
}

.ray-sidebar-container .footer-bar .avatar-container p,
.ray-sidebar-container .top-bar .logo-name,
.ray-sidebar-container .middle-bar .menu-item-name {
	color: #ffffff;
	opacity: 0;
	transition: opacity 0.4s ease-in, color 0.3s ease-in;
}

.ray-sidebar-container:hover .footer-bar .avatar-container p,
.ray-sidebar-container:hover .top-bar .logo-name,
.ray-sidebar-container:hover .middle-bar .menu-item-name {
	color: #afafb1 !important;
	opacity: 10;
}

.ray-sidebar-container .footer-bar .avatar-container,
.ray-sidebar-container .middle-bar .menu-item-name {
	overflow: hidden;
}

.ray-sidebar-container .middle-bar div {
	border-left: 4px solid transparent;
	cursor: pointer;
	height: 28px;
	padding: 0 20px 0 16px;
}

.ray-sidebar-container .middle-bar div:hover {
	border-left: 4px solid #4c85ff;
	color: #ffffff !important;
}

.ray-sidebar-container .middle-bar div:hover::before {
	background-color: #ffffff;
}

.ray-sidebar-container .middle-bar div:hover .menu-item-name {
	color: #ffffff !important;
	font-weight: 700;
}

.ray-sidebar-container .middle-bar div::before {
	-webkit-mask-size: cover;
	background-color: #afafb1;
	content: '';
	display: inline-block;
	flex-shrink: 0;
	height: 20px;
	margin-right: 4px;
	transition: background-color 0.3s ease-in;
	width: 20px;
}

.ray-sidebar-container .middle-bar #Applications.applications-menu::before,
.ray-sidebar-container .middle-bar #Claims.claims-menu::before,
.ray-sidebar-container .middle-bar #Dashboard.dashboard-menu::before,
.ray-sidebar-container .middle-bar #Policies.policies-menu::before,
.ray-sidebar-container .middle-bar #Reports.reports-menu::before {
	-webkit-mask-size: cover;
	background-color: #ffffff;
	content: '';
	display: inline-block;
	flex-shrink: 0;
	height: 20px;
	margin-right: 4px;
	transition: background-color 0.3s ease-in;
	width: 20px;
}

.ray-sidebar-container .middle-bar .dashboard-menu::before {
	-webkit-mask: url('[resources:home_icon.svg]') no-repeat 50% 50%;
	mask: url('[resources:home_icon.svg]') no-repeat 50% 50%;
}

.ray-sidebar-container .middle-bar .applications-menu::before {
	-webkit-mask: url('[resources:note_icon.svg]') no-repeat 50% 50%;
	mask: url('[resources:note_icon.svg]') no-repeat 50% 50%;
}

.ray-sidebar-container .middle-bar .policies-menu::before {
	-webkit-mask: url('[resources:umbrella_icon.svg]') no-repeat 50% 50%;
	mask: url('[resources:umbrella_icon.svg]') no-repeat 50% 50%;
}

.ray-sidebar-container .middle-bar .claims-menu::before {
	-webkit-mask: url('[resources:shield_check_icon.svg]') no-repeat 50% 50%;
	mask: url('[resources:shield_check_icon_icon.svg]') no-repeat 50% 50%;
}

.ray-sidebar-container .middle-bar .reports-menu::before {
	-webkit-mask: url('[resources:chart_icon.svg]') no-repeat 50% 50%;
	mask: url('[resources:chart_icon.svg]') no-repeat 50% 50%;
}

.ray-sidebar-container .footer-bar .notification-container {
	height: 24px;
	width: 24px;
}

.ray-sidebar-container .footer-bar .indicator-icon {
	bottom: 35px;
	right: 25px;
}

.page-header-container:not(#Applications) {
	box-shadow: 0 5px 15px rgba(77, 133, 255, 0.12);
}

.page-header-container .header-content {
	height: 72px;
	max-width: 1500px;
	top: 0;
}

.layout-container .mobile-header-container .search-icon,
.layout-container .mobile-header-container .menu-icon,
.page-header-container .header-content .search-icon {
	cursor: pointer;
}

.layout-container #Details .header-content .search-icon {
	display: none !important;
}

#Applications .page-header-container {
	box-shadow: 0 1px #d3d3d4 !important;
}

#Applications .navbar.navigation-bar-light {
	border-color: #ffffff !important;
}

#Applications.applications-menu,
#Claims.claims-menu,
#Dashboard.dashboard-menu,
#Policies.policies-menu,
#Reports.reports-menu {
	border-left: 4px solid #4c85ff;
}

#Applications.applications-menu .menu-item-name,
#Claims.claims-menu .menu-item-name,
#Dashboard.dashboard-menu .menu-item-name,
#Policies.policies-menu .menu-item-name,
#Reports.reports-menu .menu-item-name {
	color: #ffffff !important;
	font-weight: 700;
}

@media screen and (max-width: 1625px) {
	.layout-container
		.raylife-agent-portal-content:not(#Applications
			.raylife-agent-portal-content, #Details
			.raylife-agent-portal-content) {
		padding: 0 16px;
	}

	#Applications .lfr-layout-structure-item-container {
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media screen and (max-width: 992px) {
	.layout-container .search-icon {
		display: none !important;
	}
}

.raylife-agent-portal-content .container-fluid {
	padding: 0;
}
