[#if themeDisplay.isSignedIn()]
	<lfr-drop-zone></lfr-drop-zone>
[/#if]

[#if !themeDisplay.isSignedIn()]
<div class="container-fluid d-flex flex-column testray-login-page">
	<div class="logo mb-3">
		<img class="img" data-lfr-editable-id="testray-logo" data-lfr-editable-type="image" src="[resources:testray-logo.svg]" />
	</div>

	<div class="d-flex flex-column justify-content-center mb-3 rounded-xs">

		[@liferay_portlet.runtime
		portletName="com_liferay_login_web_portlet_LoginPortlet" /]

		<a href="/c/portal/login" class="btn btn-secondary btn-block">Login With OKTA</a>
	</div>
</div>
[/#if]