$opacity-transition: opacity 1s ease;

.task-sidebar {
	color: #8b8db2;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 20px 20px;

	&-expanded {
		opacity: 1;
		transition: $opacity-transition;
		visibility: visible;
		width: 100%;
	}

	&-hidden {
		height: 0 !important;
		opacity: 0;
		overflow: hidden;
		transition: $opacity-transition;
		visibility: hidden;
		width: 0 !important;
	}

	.task-sidebar-title {
		background-color: #18215c;
		height: 30px;

		&-expanded {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&-hidden {
			display: flex;
			justify-content: center;
		}
	}

	.quantity-task-badge {
		background-color: #303376;
		color: #fff;
		height: 22px;
		padding: 9px;
		width: 22px;
	}

	.subtask-sidebar {
		background-color: #303376;
		box-sizing: border-box;
		font-size: 14px !important;
		margin-bottom: 8px;
		padding: 8px;
		text-decoration: none !important;
		text-transform: uppercase;
		width: 100%;

		&:hover {
			background-color: #434796;
			color: #b0b2dd;
		}
	}

	.sidebar-item-hidden {
		opacity: 0;
		transition: $opacity-transition;
		visibility: hidden;
		width: 0;
	}

	.sidebar-item-visible {
		opacity: 1;
		transition: $opacity-transition;
		visibility: visible;
	}

	.notification {
		.task-sidebar-notification {
			align-items: center;
			background: #f00;
			border-radius: 100%;
			bottom: 35px;
			box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
			color: #fff;
			display: flex;
			height: 25px;
			justify-content: center;
			left: 10px;
			padding: 10px;
			position: relative;
			width: 25px;
		}

		&-hide {
			opacity: 0;
			transition: $opacity-transition;
			visibility: hidden;
			width: 0;
		}

		&-show {
			opacity: 1;
			transition: $opacity-transition;
			visibility: visible;
			width: 100%;
		}
	}

	.scroller {
		overflow-y: scroll;
		scrollbar-color: #8b8db2;
	}

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 5px;
		padding: 1px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #8b8db2;
		border: 1px solid #18215c;
		border-radius: 20px;
	}

	a {
		color: #8b8db2;
	}

	.sidebar-buildlink {
		max-width: 50px;
		overflow: auto;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 50px;
	}

	.sidebar-link {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 180px;
	}
}

.task-sidebar-divider {
	border-top: solid #8b8db2 1px;
}
