.claims-total-container {
	min-height: 257px;
}

.claims-total-container .claims-total-title::after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 1px;
	margin-top: 6px;
	position: absolute;
	width: 19px;
}
