@import 'cadmin-variables';

.manage-collaborators {
	.user-icon-color-5 {
		background-color: $cadmin-white;
		box-shadow: 0 0 0 1px $cadmin-gray-300;
	}

	.component-title {
		margin: 0;
	}

	.collaborators {
		& > .sidebar-section:first-child {
			margin-bottom: 0;
		}

		& > .sidebar-section {
			.collaborators-btn {
				padding-left: 0;
			}
		}

		.sidebar-section {
			.collaborators-owner {
				margin-right: 1.5rem;
			}

			.collaborators-collaborator {
				margin-right: 0.25rem;
			}
		}
	}
}
