<div class="d-flex justify-content-end on-click-button">
	<button class="btn-unstyled dismiss-button mb-n5 mr-4 text-paragraph-sm">
		Dismiss [@clay["icon"] symbol="times"/]
	</button>
</div>

<div class="align-items-center bg-neutral-1 d-lg-flex pb-5 pl-2 pl-lg-7 pl-md-6 position-relative pre-dismiss pt-4 rounded-xl">
	<div class="col px-5 px-md-3">
		<img class="mb-n6 ml-md-n6 ml-n5" src="[resources:enablement-welcome-banner-icon.png]" />

		<h1 data-lfr-editable-id="first-welcome-banner-title" data-lfr-editable-type="rich-text">
			Welcome to Partner Enablemet
		</h1>

		<p class="align-items-center d-flex" data-lfr-editable-id="first-welcome-banner-description" data-lfr-editable-type="rich-text">
			We're here to help you succeed in building your Liferay practice.
			Use these Enablement resources and courses to expand your knowledge
			and skills.
		</p>

		<div class="d-md-flex">
			<button class="align-items-center btn btn-primary d-flex justify-content-between mb-3 mb-md-0 mr-3 video-tour-button">
				[@clay["icon"] symbol="video"/]
				<div class="ml-1" data-lfr-editable-id="first-banner-primary-button-text" data-lfr-editable-type="rich-text">
					Watch a Video Tour
				</div>
			</button>

			<a class="align-items-center border-brand-primary btn btn-secondary d-flex justify-content-between text-brand-primary" href="${configuration.secondaryButtonLink}">
				<div class="ml-1" data-lfr-editable-id="first-banner-secondary-button-text" data-lfr-editable-type="rich-text">
					Explore Learning Paths
				</div>
			</a>
		</div>
	</div>

	<img class="col" src="[resources:enablemant-welcome-banner.png]" />
</div>

<div class="align-items-center d-none justify-content-between p-md-5 pl-md-8 pos-dismiss">
	<div>
		<img class="mb-n6 ml-md-n6" src="[resources:enablement-welcome-banner-icon.png]" />

		<h1 class="ml-5 ml-md-0" data-lfr-editable-id="second-welcome-banner-title" data-lfr-editable-type="rich-text">
			Placeholder
		</h1>
	</div>

	<div class="d-md-flex mt-5 mt-md-2">
		<button class="align-items-center border-brand-primary btn btn-secondary d-flex justify-content-between mb-3 mb-md-0 mr-md-3 text-brand-primary video-tour-button">
			[@clay["icon"] symbol="video"/]
			<div class="ml-1" data-lfr-editable-id="second-banner-primary-button-text" data-lfr-editable-type="rich-text">
				This is editable text!
			</div>
		</button>

		<a class="align-items-center btn btn-primary d-flex" href="${configuration.secondaryButtonLink}">
			<div class="ml-1" data-lfr-editable-id="second-banner-secondary-button-text" data-lfr-editable-type="rich-text">
				This is editable text!
			</div>
		</a>
	</div>
</div>