@import 'atlas-variables';

.portlet-configuration .kb-edit-link {
	margin: 5px 0 0;
}

.knowledge-base-portlet-display {
	.kb-article-body img {
		height: auto;
		max-width: 100%;
	}

	.kbarticle-navigation {
		li {
			line-height: inherit;
			list-style: none;
			padding: 0.5rem 2rem;

			a {
				color: $gray-600;
			}

			&.kbarticle-selected {
				background-color: $light-l1;
				border-radius: 4px;
				font-weight: bold;

				a {
					color: $dark;
				}
			}
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		.kbarticle-expanded {
			font-weight: bold;
		}

		.kbarticle-root-selector {
			select {
				display: inline;
			}
		}
	}
}
