// Variables from atlas/variables/_globals for alerts
// https://github.com/liferay/clay/blob/0568f0a1ffb82b0bc85321b10cb32ff5f68e2cc1/packages/clay-css/src/scss/atlas/variables/_globals.scss

$grid-gutter-width: 30px; // 30px is the original from bootstrap instead of the 24px defined in Atlas. This variable is needed to be defined earlier for alerts.

$primary: #0b5fff;
$primary-d1: darken($primary, 5.1); // #0053F0
$primary-d2: darken($primary, 10); // #004AD7
$primary-l1: lighten($primary, 22.94); // #80ACFF
$primary-l2: lighten($primary, 32.94); // #B3CDFF
$primary-l3: lighten($primary, 44.9); // #F0F5FF

$secondary: #6b6c7e;
$secondary-d1: darken(saturate($secondary, 4.82), 20);
$secondary-d2: darken(saturate($secondary, 5.36), 23.92);
$secondary-l1: lighten(
	saturate(adjust-hue($secondary, -3), 5.39),
	23.92
); // #A7A9BC
$secondary-l2: lighten(
	saturate(adjust-hue($secondary, -2), 5.48),
	37.06
); // #CDCED9
$secondary-l3: lighten(
	saturate(adjust-hue($secondary, 3), 6.13),
	46.08
); // #E7E7ED

$info: #2e5aac;
$info-d1: darken($info, 5.1); // #294F98
$info-d2: darken($info, 10); // #234584
$info-l1: lighten(saturate($info, 0.59), 28.04); // #89A7E0
$info-l2: lighten(desaturate($info, 3.25), 52.94); // #EEF2FA

$success: #287d3c;
$success-d1: darken($success, 5.1); // #226A33
$success-d2: darken($success, 10); // #1C5629
$success-l1: lighten(desaturate($success, 0.14), 24.9); // #5ACA75
$success-l2: lighten(desaturate($success, 1.52), 62.94); // #EDF9F0

$warning: #b95000;
$warning-d1: darken($warning, 5.1); // #9F4500
$warning-d2: darken($warning, 10); // #863A00
$warning-l1: lighten($warning, 24.9); // #FF8F39
$warning-l2: lighten($warning, 60); // #FFF4EC

$danger: #da1414;
$danger-d1: darken($danger, 5.1); // #C31212
$danger-d2: darken($danger, 10); // #AB1010
$danger-l1: lighten(desaturate($danger, 0.25), 28.04); // #F48989
$danger-l2: lighten(saturate($danger, 5.04), 50); // #FEEFEF

$light: #f1f2f5;
$light-d1: darken($light, 5.1); // #E2E4EA
$light-d2: darken($light, 10); // #D3D6E0
$light-l1: lighten(
	desaturate(adjust-hue($light, -15), 2.38),
	1.96
); // #F7F8F9
$light-l2: lighten(desaturate(adjust-hue($light, -225), 16.67), 4.71);

$dark: #272833;
$dark-d1: darken($dark, 5.1); // #1C1C24
$dark-d2: darken($dark, 10); // #111116
$dark-l1: lighten(saturate($dark, 0.18), 4.12); // #30313F
$dark-l2: lighten(desaturate($dark, 0.36), 8.04); // #393A4A

$link-color: $primary;
$link-hover-color: $primary-d2;

// Site Color Variables

$alert-color: #d33a2f;
$background-color: #f4f6f9;
$black: #000;
$border-color: #ebeef2;
$brand-secondary: #184496;
$default-color: $dark-l1;
$filter-color: #eff3fd;
$header-color: #09101d;
$highlight-color: #c4d6f8;
$hr-color: #dadee3;
$nav-color: $secondary;
$pre-text-color: #f8faff;
$white: #fff;

$admonition-error: $danger;
$admonition-error-bg: $danger-l2;
$admonition-error-highlight: $alert-color;
$admonition-important: $info;
$admonition-important-bg: $info-l2;
$admonition-important-highlight: $info-l1;
$admonition-note: $success;
$admonition-note-bg: $success-l2;
$admonition-note-highlight: $success-l1;
$admonition-tip: #0b7543;
$admonition-tip-bg: #eafaf7;
$admonition-tip-highlight: #50d2a0;
$admonition-warning: $warning;
$admonition-warning-bg: $warning-l2;
$admonition-warning-highlight: $warning-l1;

$card-sidebar: #42bfc2;

// Variable Overrides

$font-family-base: 'Source Sans Pro', 'Source Serif Pro', -apple-system,
	blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$small-font-size: 0.75rem; // 12px

$h1-font-size: 2rem; // 32px
$h2-font-size: 1.5rem; // 24px
$h3-font-size: 1.25rem; // 20px
$h4-font-size: 1rem; // 16px
$h5-font-size: 0.875rem; // 14px
$h6-font-size: $small-font-size; // 12px
$code-font-size: 14px; // set pixel value to prevent nested <pre> and <code> from scaling down font size
$mobile-font-size: 1.75rem; // 28px

$breadcrumb-divider-color: null;
$breadcrumb-text-truncate-max-width: 10rem; // 160px

$table-accent-bg: $background-color;
$table-data-border-color: transparent;
$table-margin-bottom: 1rem; // 16px

// Custom Variables

$h1-display-font-size: 3rem; // 48px

$h6-line-height: 16px;
$code-line-height: 24px; // set pixel value to prevent nested <pre> and <code> from scaling down line height
$secondary-text-line-height: 1.429;

$blockquote-color: $nav-color;
$blockquote-font-weight: 300;
$blockquote-line-height: 30px;

$breadcrumb-divider-svg-icon: clay-icon(
	angle-right,
	$breadcrumb-divider-color
);
$breadcrumb-divider-svg-icon-height: 0.75em; // 12px
$breadcrumb-divider-svg-icon-width: $breadcrumb-divider-svg-icon-height;

$footer-height: 3.5rem; // 56px
$header-height: 3.5rem; // 56px
$info-bar-height: 4.8125rem; // 77px
$page-alert-height: 3.5rem; //56px

$spacing-default: 1.5rem; // 24px
$spacing-lg: 2rem; // 32px
$spacing-md: 1rem; // 16px
$spacing-sm: 0.75rem; // 12px
$spacing-xs: 0.5rem; // 8px
