.category-selector-modal {
	.selector-modal-tree {
		background-color: $secondaryHover;
		border-radius: 4px;
		height: 382px;
		margin-top: 24px;
		overflow: auto;
		padding: 16px;

		.no-subcategories {
			margin-left: 24px;
		}

		.quick-action-item {
			&:focus {
				opacity: 1;
			}

			opacity: 0;
		}

		.treeview-link:hover {
			background-color: $mainLighten74;

			.quick-action-item {
				opacity: 1;
			}
		}
	}

	.subnav-tbar {
		&.secondary {
			background-color: $lightBackground;
		}

		.component-text {
			font-size: 12px;
		}
	}
}
