@import 'cadmin-variables';
$spacer: 1rem;

.select-category-filter {
	border-bottom: 1px solid #dee2e6;
	margin-bottom: $spacer * 1.5;
	padding: $spacer * 0.75;
}

.select-category-count-feedback {
	background: $cadmin-primary-l2;
	min-height: 40px;
}

.select-category-clear-selected,
.select-category-clear-selected:hover {
	color: $cadmin-gray-900;
}
