@import 'atlas-variables';

.global-js-cets-configuration {
	.table tbody tr.disabled td {
		&,
		.table-list-title {
			color: $text-muted;
		}
	}

	.table.table-hover tbody tr.disabled:hover {
		&,
		td {
			background-color: transparent;
		}
	}

	.table.table-hover tbody td.list-group-header-title {
		&,
		&:hover {
			background-color: $light-l1;
			color: $secondary;
		}
	}

	.load-type-select {
		min-width: 15ch;
	}
}
