<div class="d-flex justify-content-end on-click-button">
	<button class="btn-unstyled dismiss-button mb-n5 mr-4 text-paragraph-sm">
		Dismiss [@clay["icon"] symbol="times"/]
	</button>
</div>

<div class="align-items-center bg-neutral-1 d-lg-flex pre-dismiss p-4 rounded-xl">
	<div class="col">
		<h1 data-lfr-editable-id="first-welcome-banner-title" data-lfr-editable-type="rich-text">
			This is editable text!
		</h1>

		<p class="align-items-center d-flex" data-lfr-editable-id="first-welcome-banner-description" data-lfr-editable-type="rich-text">
			This is editable text!
		</p>

		<div class="d-sm-flex">
			<button class="btn btn-primary d-flex video-tour-button mr-3 mb-2">
				<lfr-drop-zone></lfr-drop-zone>
				<div class="ml-1" data-lfr-editable-id="first-banner-primary-button-text" data-lfr-editable-type="rich-text">
					This is editable text!
				</div>
			</button>
			<lfr-drop-zone ></lfr-drop-zone>		
		</div>
	</div>
	<div class="col">
		<lfr-drop-zone></lfr-drop-zone>
	</div>
</div>

<div class="align-items-center d-none justify-content-between p-4 pos-dismiss">
	<div class="col">
		<h1 data-lfr-editable-id="second-welcome-banner-title" data-lfr-editable-type="rich-text">
			This is editable text!
		</h1>
	</div>

	<div class="col d-sm-flex my-4 justify-content-lg-end">
		<button class="border-brand-primary btn btn-secondary d-flex text-brand-primary video-tour-button  mr-3 mb-2">
		<lfr-drop-zone></lfr-drop-zone>
			<div class="ml-1" data-lfr-editable-id="second-banner-primary-button-text" data-lfr-editable-type="rich-text">
				This is editable text!
			</div>
		</button>
		<lfr-drop-zone ></lfr-drop-zone>
	</div>
</div>