.claims-total-settlements-container {
	min-height: 267px;
}

.claims-total-settlements-container
	.claims-total-settlements-header
	.claims-total-settlements-title::after {
	background-color: #4d85ff;
	content: '';
	height: 1px;
	left: 28px;
	min-width: 20px;
	position: absolute;
	top: 50px;
}

.claims-total-settlements-container .claims-total-settlements-select {
	border-color: var(--white);
	padding: 5px;
	width: 105px;
}

.claims-total-settlements-container .claims-total-settlements-title::after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 1px;
	margin-top: 6px;
	position: absolute;
	width: 19px;
}

.claims-total-settlements-legend {
	width: 120px;
}

@media screen and (max-width: 1280px) {
	.claims-total-settlements-title {
		word-break: break-word;
	}
}

@media screen and (max-width: 1280px) {
	.claims-total-settlements-legend {
		flex-direction: row !important;
		justify-content: space-evenly !important;
		width: 100%;
	}

	.claims-total-settlements-screen {
		padding-left: 24px;
		padding-right: 24px;
	}
}
