@import 'atlas-variables';

.lfr-objects__object-field-form-base {
	&-container {
		display: flex;
		gap: 0.5rem;
	}

	&-form-group-toggles {
		display: contents;

		.modal & {
			display: grid;
			gap: 1.56rem;
			margin-bottom: 1.5rem;
		}
	}
}
