<div class="m-0 p-0 tab-container">
	[#if configuration.quantityOfTabs == 0] [#assign quantityOfTabs = 1] [#else]
	[#assign quantityOfTabs = configuration.quantityOfTabs] [/#if]

	<div class="container-fluid d-flex justify-content-center">
		<div class="nav-container w-100">
			<ul class="nav nav-header">
				[#list 0..quantityOfTabs-1 as i]
				<li class="nav-item">
					<div class="nav-link nav-link-${i+1}">
					<span data-lfr-editable-id="tab-title-${i+1}" data-lfr-editable-type="text">Title ${i+1}</span>
						[#if configuration.showTabCounter == true]
						<span class="tab-counter-${i+1}">(0)</span>
						[/#if]
					</div>
				</li>
				[/#list]
			</ul>
		</div>
	</div>

	<div>
		[#list 0..quantityOfTabs-1 as i]
		<div aria-labelledby="tab${i+1}" class="tab-panel-item tab-panel-item-${i+1} d-none" data-fragment-namespace="${fragmentEntryLinkNamespace}" id="tabPanel${i+1}" role="tabpanel" tabindex="0">
			<lfr-drop-zone></lfr-drop-zone>
		</div>
		[/#list]
	</div>
</div>