<table class="table table-borderless w-100">
	<thead>
		<tr>
			<th class="w-50">
				<div class="text-neutral-10" data-lfr-editable-id="tableTitle" data-lfr-editable-type="rich-text">
					This is editable text!
				</div>
			</th>
			<th class="w-50"></th>
		</tr>
	</thead>

	<tbody class="ml-1">
		[#list 0..configuration.numberOfRows-1 as i]
		<tr>
			<td class="w-50">
				<div class="text-neutral-10" data-lfr-editable-id="rowTitle-${i+1}" data-lfr-editable-type="rich-text">
					This is editable text!
				</div>
			</td>
			<td class="w-50">
				<div class="text-neutral-10" data-lfr-editable-id="rowValue-${i+1}" data-lfr-editable-type="rich-text">
					This is editable text!
				</div>
			</td>
		</tr>
		[/#list]
	</tbody>
</table>