.lfr-object__edit-object-definition {
	.data-set .management-bar-wrapper,
	> .lfr-tooltip-scope,
	.page-header {
		position: sticky;
		z-index: 1;
	}

	.data-set {
		.management-bar-wrapper {
			top: 168px;
		}
	}

	> .lfr-tooltip-scope {
		top: 56px;
	}

	.navbar {
		position: relative !important;
	}

	.page-header {
		top: 120px;
	}
}
