@mixin attachment(
	$displayType,
	$gapRowValue,
	$gapColumnValue,
	$paddingTopTitle,
	$gapTitleValue,
	$marginLeft,
	$marginBottom,
	$marginRight
) {
	display: #{$displayType};
	gap: #{$gapRowValue}, #{$gapColumnValue};

	&-download {
		display: none;
	}

	&-button {
		background-color: unset;
	}

	&-loading {
		margin: 0;
	}

	&-title {
		align-items: center;
		display: flex;
		gap: #{$gapTitleValue};
		padding-top: #{$paddingTopTitle};

		&:focus-within,
		&:hover {
			.lfr-objects__attachment-download {
				color: black;
				display: unset;
				margin-bottom: #{$marginBottom};
				margin-left: #{$marginLeft};
				margin-right: #{$marginRight};
			}
		}
	}
}

.lfr-objects__attachment {
	@include attachment(flex, 1rem, 0, 0, 0, 1rem, 0, 0);
}

.col-ddm .col-md-4 {
	.lfr-objects__attachment {
		@include attachment(
			block,
			1rem,
			0.2rem,
			1rem,
			5px,
			0.5rem,
			0.3rem,
			0.5rem
		);
	}
}
