.quoted-summary-container {
	.quoted-summary-content {
		margin-right: 10px;
	}

	.quoted-summary-title::after {
		background-color: var(--primary);
		content: '';
		display: block;
		height: 1px;
		margin-top: 6px;
		position: absolute;
		width: 25px;
	}
}

.quoted-summary-content {
	display: flex;

	@media screen and (max-width: 1700px) {
		display: block;
	}

	@media screen and (max-width: 576px) {
		display: block;
	}
}
