authorizationEndPoint=""
discoveryEndPoint="https://login.microsoftonline.com/86315286-b8fe-4db7-abd0-cc8f6421c133/v2.0/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="1afe1ae0-f11a-4eeb-9c75-301a07b36551"
openIdConnectClientSecret="ZGR8Q~CxFM7VzEZv6nWqaF8FMKOofp0vNYrXOaCX"
providerName="Azure"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""