.total-premium-due-container .total-premium-due-header::after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 1px;
	margin-top: 38px;
	position: absolute;
	width: 19px;
}

.total-premium-due-header {
	white-space: nowrap;
}

.total-premium-due-container {
	font-size: 7px;
}

.total-premium-due-select {
	width: 120px;
}

.bb-text {
	font-size: 12px;
}

.total-premium-due-bar {
	overflow-x: auto;
}

@media screen and (min-width: 300px) and (max-width: 1400px) {
	.total-premium-due-select {
		margin-left: 8px;
	}
}
