@import 'atlas-variables';

.knowledge-base-portlet-admin {
	.kbVerticalBar .tbar-light {
		background-color: $gray-200;
	}

	.kbAdminContent {
		margin-left: 40px;

		transition: margin-left 0.3s ease-in-out;
	}

	.kbVerticalBar.expanded + .kbAdminContent {
		margin-left: 360px;
	}
}
