@import 'atlas-variables';

.lfr-object-web__predefined-values-card {
	.lfr-objects__card-body {
		padding-top: 0;
	}
}

.lfr-object-web__predefined-values-table {
	&-field,
	&-input-method {
		display: flex;
	}

	&-input-method {
		.custom-checkbox {
			margin-bottom: 0;
		}
	}

	&-new-value {
		width: 100%;
	}

	&-reference-mark {
		color: $warning;
		font-size: 6px;
		margin-top: 2px;
		padding-left: 4px;
	}

	&-tooltip-icon {
		color: $secondary-l1;
		margin-left: 12px;
	}
}
