.customer-portal-welcome-banner {
	height: 286px;
}

.customer-portal-welcome-img {
	border-bottom-left-radius: var(--border-radius-xl);
	border-top-left-radius: var(--border-radius-xl);
	object-fit: cover;
	right: 0;
}

.customer-portal-text {
	font-size: var(--h2-font-size);
	z-index: 1;
}

@media (min-width: 768px) {
	.customer-portal-text {
		font-size: var(--h1-font-size);
	}
}

@media (min-width: 992px) {
	.customer-portal-text {
		font-size: var(--display4-size);
	}
}
