[#assign firstName = themeDisplay.getUser().getFirstName()]

<div class="align-items-center customer-portal-welcome-banner d-flex position-relative">
	<div class="customer-portal-text ml-3 pl-5 text-neutral-0">
		<div class="mb-4 pb-2">
			${languageUtil.get(locale, "welcome")},
			<span class="font-weight-bold">${firstName}!</span>
		</div>

		<div>
			<h2>${languageUtil.get(locale, "projects")}</h2>

			<div class="text-paragraph">
				${languageUtil.get(locale,
				"select-a-project-to-see-your-subscriptions-activate-your-products-and-view-team-members")}
			</div>
		</div>
	</div>

	<img class="customer-portal-welcome-img h-100 position-absolute w-100" src="[resources:banner_background_customer_portal.svg]" />
</div>