.select-vocabularies {
	&.disabled {
		.alert-info {
			opacity: 0.5;
		}

		.select-vocabularies-helptext {
			color: #a7a9bc;
		}

		.treeview {
			.autofit-col,
			.custom-control-label-text {
				color: #a7a9bc;
			}
		}
	}

	.btn-group-item:first-of-type {
		margin-right: 6px;
	}

	.learn-message {
		margin-left: 4px;
	}

	.select-vocabularies-helptext {
		color: #6b6c7e;
		margin-bottom: 16px;
		margin-top: 8px;
	}

	.treeview-group {
		.treeview-link {
			cursor: unset;
			padding-left: 36px !important;

			.c-inner {
				margin-right: -36px !important;
			}
		}
	}
}
