.select-vocabularies {
	.select-vocabularies-helptext {
		margin-bottom: 16px;
		margin-top: 8px;
	}

	.btn-group-item:first-of-type {
		margin-right: 6px;
	}

	.treeview-group {
		.treeview-link {
			cursor: unset;
			padding-left: 36px !important;

			.c-inner {
				margin-right: -36px !important;
			}
		}
	}
}
