html#{$cadmin-selector} .page-editor {
	.page-editor__form {
		button:disabled,
		input:disabled {
			pointer-events: none;
		}

		&__success-message,
		&--success .empty {
			min-height: 0;
		}
	}
}
