@import 'atlas-variables';

#wrapper .portlet-layout .portlet-body {
	.lfr-ddm__form-report__header,
	.lfr-ddm__form-report__tabs {
		.container-fluid-max-xl {
			max-width: 808px;
		}
	}
	.lfr-ddm__form-report__cards {
		max-width: 808px;
	}
}

.lfr-ddm__form-report {
	&__header {
		background-color: $white;
		height: 124px;
		padding-top: 24px;
	}

	&__subtitle {
		color: $secondary;
		font-size: 14px;
		font-weight: 400;
	}

	&__tabs {
		.nav-item {
			.nav-link {
				cursor: pointer;
			}
		}
	}

	&__title {
		font-size: 32px;
		font-weight: 600;
	}
}
