[#assign userRoles = permissionChecker.getUserBag().getRoles()/]

[#assign approvedRoles =[""] /]

[#if configuration.channelAccountManager]
	[#assign approvedRoles = approvedRoles + ["Channel Account Manager"] /]
[/#if]
[#if configuration.channelFinanceManager]
	[#assign approvedRoles = approvedRoles + ["Channel Finance Manager"] /]
[/#if]
[#if configuration.channelGeneralManager]
	[#assign approvedRoles = approvedRoles + ["Channel General Manager"] /]
[/#if]
[#if configuration.channelGlobalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Global Marketing Manager"] /]
[/#if]
[#if configuration.channelRegionalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Regional Marketing Manager"] /]
[/#if]
[#if configuration.user]
	[#assign approvedRoles = approvedRoles + ["User"] /]
[/#if]

[#list userRoles as userRoles]
	[#if approvedRoles?seq_contains(userRoles.name)]
		<button class="border-brand-secondary-darken-3 btn btn-secondary mr-2 mt-2" id="status-in-finance-review">
			In Finance Review
		</button>
		[#break]
	[/#if]
[/#list]