.ray-table {
	white-space: nowrap;

	thead th {
		border-bottom: 1px solid #ccdae7;
		font-size: 14px !important;
	}

	tbody {
		tr {
			td {
				.approved {
					background-color: #4bc286;
				}

				.bound {
					background-color: #d9e4fe;
				}

				.declined {
					background-color: #e62a2a;
				}

				.estimation,
				.investigation,
				.reviewed,
				.submitted,
				.settled {
					background-color: #4c84ff;
				}

				.incomplete,
				.settlement,
				.repair {
					background-color: #1f77d4;
				}

				.open {
					background-color: #ff7f0e;
				}

				.quoted {
					background-color: #81a8ff;
				}

				.rejected {
					background-color: #191970;
				}

				.underwriting {
					background-color: #b5cdfe;
				}

				&::after {
					background-image: linear-gradient(
						to right,
						#aaa 0%,
						#aaa 20%,
						transparent 20%
					);
					background-position: 0 0;
					background-repeat: repeat-x;
					background-size: 6px 1px;
					bottom: 0;
					content: '';
					height: 1px;
					left: 0;
					position: absolute;
					right: 0;
				}

				.cursor-pointer {
					cursor: pointer;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}

				.status-color {
					height: 8px;
					width: 8px;
				}
			}
		}
	}

	.ray-row-table-danger {
		background-color: #f8f1f4;
	}
}
