.lfr__notification-template {
	&-container {
		background-color: #f1f2f5;
	}

	&-cards {
		margin-left: 15rem;
		margin-right: 15rem;
	}

	&-card {
		display: grid;
		margin-top: 5rem;
	}

	&-label {
		margin-left: 32px;
		margin-top: 1px;
	}
}

.lfr-objects__card {
	margin: 1.5rem 0 0 !important;
}

@mixin responsiveCards($maxWidth, $margin) {
	@media (max-width: #{$maxWidth}) {
		.lfr__notification-template {
			&-cards {
				margin-left: #{$margin};
				margin-right: #{$margin};
			}
		}
	}
}

@include responsiveCards(3840px, 80rem);
@include responsiveCards(2160px, 29rem);
@include responsiveCards(1920px, 21rem);
@include responsiveCards(1600px, 11rem);
@include responsiveCards(1280px, 5rem);
