.lfr__notification-template {
	&-container {
		background-color: #f1f2f5;
	}

	&-cards {
		margin-left: 15rem;
		margin-right: 15rem;
	}

	&-card {
		display: grid;
		margin-top: 5rem;
	}

	&-management-tollbar {
		box-shadow: 0 0.125rem 0.75rem rgb(0 0 0 / 8%);
		position: fixed;
		width: 100%;
		z-index: 1;
	}
}
