<div class="d-flex justify-content-end on-click-button">
	<button class="btn-unstyled dismiss-button mb-n5 mr-4 text-paragraph-sm">
		Dismiss [@clay["icon"] symbol="times"/]
	</button>
</div>

<div class="align-items-center bg-neutral-1 d-flex p-5 pl-7 position-relative pre-dismiss rounded-xl">
	<div>
		<img class="mb-n6 ml-n6" src="[resources:marketing-welcome-banner-icon.png]" />

		<h1 data-lfr-editable-id="first-welcome-banner-title" data-lfr-editable-type="rich-text">
			Placeholder
		</h1>

		<p class="mt-5" data-lfr-editable-id="first-welcome-banner-description" data-lfr-editable-type="rich-text">
			Placeholder
		</p>

		<div class="d-flex">
			<button class="align-items-center btn btn-primary d-flex justify-content-between mr-3 video-tour-button">
				[@clay["icon"] symbol="video"/]
				<lfr-editable class="ml-1" id="first-banner-primary-button-text" type="rich-text">
					This is editable text!
				</lfr-editable>
			</button>

			<a class="btn btn-secondary text-brand-primary" href=${configuration.secondaryButtonLink}>
				<lfr-editable id="first-banner-secondary-button-text" type="rich-text">
					This is editable text!
				</lfr-editable>
			</a>
		</div>
	</div>

	<img src="[resources:marketing-welcome-banner-bg.png]" />
</div>

<div class="align-items-center d-none justify-content-between p-5 pl-7 pos-dismiss">
	<div>
		<img class="mb-n6 ml-n6" src="[resources:marketing-welcome-banner-icon.png]" />

		<h1 data-lfr-editable-id="second-welcome-banner-title" data-lfr-editable-type="rich-text">
			Placeholder
		</h1>
	</div>

	<div class="d-flex justify-content-around mt-4">
		<button class="align-items-center btn btn-secondary d-flex justify-content-between mr-3 text-brand-primary video-tour-button">
			[@clay["icon"] symbol="video"/]
			<lfr-editable class="ml-1" id="second-banner-primary-button-text" type="rich-text">
				This is editable text!
			</lfr-editable>
		</button>

		<a class="btn btn-primary" href=${configuration.secondaryButtonLink}>
			<lfr-editable id="second-banner-secondary-button-text" type="rich-text">
				This is editable text!
			</lfr-editable>
		</a>
	</div>
</div>