[#assign userRoles = permissionChecker.getUserBag().getRoles()/]

[#assign approvedRoles =[""] /]

[#if configuration.channelAccountManager]
	[#assign approvedRoles = approvedRoles + ["Channel Account Manager"] /]
[/#if]
[#if configuration.channelFinanceManager]
	[#assign approvedRoles = approvedRoles + ["Channel Finance Manager"] /]
[/#if]
[#if configuration.channelGeneralManager]
	[#assign approvedRoles = approvedRoles + ["Channel General Manager"] /]
[/#if]
[#if configuration.channelGlobalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Global Marketing Manager"] /]
[/#if]
[#if configuration.channelRegionalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Regional Marketing Manager"] /]
[/#if]
[#if configuration.user]
	[#assign approvedRoles = approvedRoles + ["User"] /]
[/#if]

[#list userRoles as userRoles]
	[#if approvedRoles?seq_contains(userRoles.name)]
		<ul class="nav nav-tabs nav-underline" role="tablist">
			<li class="nav-item">
			<a aria-controls="fields" class="nav-link" data-toggle="tab" href="#" id="mdf-request" role="tab">MDF Request</a>
			</li>
			<li class="nav-item">
			<a aria-controls="settings" class="nav-link" data-toggle="tab" href="#" id="mdf-claim" role="tab">MDF Claim</a>
			</li>
		</ul>
		[#break]
	[/#if]
[/#list]