.application-details-container {
	overflow-x: hidden;

	.multi-steps-content {
		box-shadow: 1px 2px 5px rgb(39 40 51 / 10%),
			1px 7px 20px rgb(76 132 255 / 5%);
		background: linear-gradient(
				0,
				rgba(76, 132, 255, 0.03),
				rgba(76, 132, 255, 0.03)
			),
			#fff;
		padding: 30px 0 0;

		.bound-step-details,
		.quoted-step-details {
			width: 700px;
		}
	}

	.application-detail-content {
		padding: 30px 200px 5px !important;

		@media screen and (max-width: 1700px) {
			padding: 30px 50px 0 !important;
		}
		@media screen and (max-width: 576px) {
			padding: 30px 20px 0 !important;
		}
	}

	.quoted-summary-detail-content {
		padding: 5px 200px 30px !important;

		@media screen and (max-width: 1700px) {
			padding: 0 50px 30px !important;
		}

		@media screen and (max-width: 576px) {
			padding: 0 20px 30px !important;
		}
	}
}

.summary-container,
.action-detail-container {
	min-height: 443px;
}
