<div class="d-flex justify-content-around">
	<div class="align-items-center d-flex flex-column text-paragraph">
		<p class="text-neutral-8">Type</p>
		<p class="font-weight-bold text-neutral-9" id="mdf-claim-type"></p>
	</div>

	<div class="align-items-center d-flex flex-column">
		<p class="text-neutral-8">Amount Claimed</p>
	<p class="font-weight-bold text-neutral-9" id="mdf-claim-amount-claimed"></p>
	</div>

	<div class="align-items-center d-flex flex-column">
		<p class="text-neutral-8">Payment Received</p>
	<p class="font-weight-bold text-neutral-9" id="mdf-claim-payment-received" />
	</div>

	<div class="align-items-center d-flex flex-column">
		<p class="text-neutral-8">Check</p>
		<p class="font-weight-bold text-neutral-9" id="mdf-claim-check"></p>
	</div>
</div>