@import 'atlas-variables';

.fragment-composition-sticker {
	background-color: $indigo;
	color: $white;
}

.fragment-entry-basic-sticker {
	background-color: $teal;
	color: $white;

	.lexicon-icon {
		font-size: 22px;
	}
}

.fragment-entry-input-sticker {
	background-color: $orange;
	color: $white;

	.lexicon-icon {
		font-size: 22px;
	}
}
