.evp-news-container {
	border: 1px solid;
	border-radius: 8px;
}

.evp-news-container img {
	height: 24px;
	width: 24px;
}

.evp-news-container .news-content .news-text {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
