<div class="border-neutral-3 d-flex evp-news-container p-3">
	<div class="col-10 news-content">
	<h6 class="mb-1 news-title" data-lfr-editable-id="news-title" data-lfr-editable-type="rich-text">
			Serving special needs children and their families
		</h6>

	<p class="m-0 news-text text-paragraph-sm" data-lfr-editable-id="news-content" data-lfr-editable-type="rich-text">
			This past May, a team from the Dalian office partnered with Hope
			Harvest on their annual trip to serve special needs children and
			their families in Wenshan. Read their story in Cindy Kong's own
			words.
		</p>
	</div>

	<div class="col-2 d-flex justify-content-end news-writer">
	<img alt="Profile Picture" class="mr-2" data-lfr-editable-id="news-profile-picture" data-lfr-editable-type="image" src="[resources:blue_profile_icon.svg]" />

		<div>
			<div class="font-weight-bold m-0 text-paragraph-xs" data-lfr-editable-id="news-profile" data-lfr-editable-type="rich-text">
				Emy Hui
			</div>

			<div class="m-0 text-paragraph-xxs" data-lfr-editable-id="news-data" data-lfr-editable-type="rich-text">
				Mar 17, 2022
			</div>
		</div>
	</div>
</div>