.contributor-builder-root {
	height: 100%;

	.criteria-builder-section-main,
	.criteria-builder-section-sidebar {
		transition: all 0.5s ease;
	}

	.criteria-builder-section-main {
		display: flex;
		height: 100%;
		padding-right: 0;
		width: 100%;

		.criteria-builder-empty-errors-alert {
			border-bottom: 1px solid;
			position: sticky;
			top: 0;
			z-index: 1;
			&__inner {
				padding-right: 0;
			}
		}

		.contributor-container {
			background-color: $lightBackground;
			height: 100%;
			overflow: auto;
			position: absolute;
			width: 100%;

			.container-fluid {
				height: 100%;
				padding: 0;
				transition: all 0.5s ease;

				.content-wrapper {
					padding: 18px 24px;

					.panel-header {
						border-bottom: 1px solid;
						border-bottom-color: #e7e7ed;
						border-radius: 0;
					}

					.panel-header-link {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						padding-bottom: 16px;
						padding-left: 24px;
						padding-right: 64px;
						padding-top: 16px;
					}

					> .conjunction-button {
						margin: 16px 0;
					}

					.empty-contributors {
						background: $secondaryHover;
						border: 2px dashed $mainLighten65;
					}
				}
			}
		}

		.sheet {
			padding-bottom: 1.5rem;

			.criterion-string {
				color: $mainLighten28;
				font-weight: 600;

				b {
					font-weight: bold;
				}
			}
		}
	}

	.criteria-builder-section-sidebar {
		height: calc(100% - 121px);
		overflow-x: hidden;
		position: fixed;
		right: 0;
		top: 121px;
		visibility: hidden;
		width: 0;
		z-index: 10;

		&--with-warning {
			height: calc(100% - 177px);
			top: 177px;
		}
	}

	.drag-icon {
		color: $mainLighten52;

		&:active {
			cursor: grabbing;
		}

		&:hover {
			cursor: grab;
		}
	}

	.empty-state {
		background-color: $lightBackground;
		border: 1px solid $mainLighten74;
		border-left: 3px solid $chartBlue;
		border-radius: 4px;
		color: $mainLighten28;
		cursor: pointer;
		font-weight: 600;
		padding: 16px 32px;
	}

	&.editing {
		.criteria-builder-section-main {
			padding-right: $sidebarWidth;

			.contributor-container .container-fluid {
				padding-right: $sidebarWidth;

				.content-wrapper {
					height: 100%;
					overflow: auto;
					position: relative;
				}
			}

			@media (min-width: $pageContentMaxWidth) {
				.contributor-container .container-fluid {
					padding-right: calc(
						#{$sidebarWidth} - ((100% - #{$pageContentMaxWidth}) / 2)
					);

					.content-wrapper {
						padding-right: 32px;
					}
				}
				.criteria-builder-empty-errors-alert {
					&__inner {
						margin: 0 auto;
						max-width: $pageContentMaxWidth;
						padding-right: calc(
							#{$sidebarWidth} - ((100% - #{$pageContentMaxWidth}) /
										2)
						);
					}
				}
			}
		}

		.criteria-builder-section-sidebar {
			visibility: visible;
			width: $sidebarWidth;
		}
	}
}
