.segments-configuration {
	.form-group__inner {
		padding-left: 12px;
		padding-right: 12px;

		.custom-control.custom-checkbox {
			margin-bottom: 1rem;
		}
	}
	.sheet-footer {
		.submit-btn {
			margin-right: 5px;
		}
	}
}
