@import 'cadmin-variables';

a.experience-picker-option {
	color: $cadmin-gray-900;

	&:hover {
		color: $cadmin-gray-900;
		text-decoration: none;
	}
}

html#{$cadmin-selector} .cadmin .experience-picker-text {
	white-space: initial;
}
