.has-control-menu nav.public-sites-navigation {
	margin-top: 3.5rem;
}

.has-control-menu.has-edit-mode-menu nav.public-sites-navigation {
	margin-top: 0;
	position: static;
}

nav.public-sites-navigation {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.primary-nav,
	.utility-nav {
		max-width: 1366px;
	}

	&.dark-nav {
		background-color: var(--color-brand-primary-darken-5);

		.liferay-logo {
			color: var(--white);
		}

		.svg-liferay-text,
		.svg-waffle {
			fill: var(--white);
		}

		.menu-btn,
		.close-btn {
			border-color: var(--white);

			.menu-btn-text,
			.close-btn-text {
				color: var(--white);
			}

			svg {
				fill: var(--white);
			}

			&:hover,
			&:active,
			&:focus {
				outline: 1px solid var(--white);
				outline-offset: 2px;
			}
		}

		.utility-nav-container {
			background-color: var(--white);
		}
	}

	&.light-nav {
		color: var(--color-neutral-10);

		.svg-liferay-text {
			fill: var(--color-neutral-10);
		}

		.svg-waffle {
			fill: var(--color-brand-primary);
		}

		.menu-btn,
		.close-btn {
			border-color: var(--color-action-primary-default);

			.menu-btn-text,
			.close-btn-text {
				color: var(--color-action-primary-default);
			}

			svg {
				fill: var(--color-action-primary-default);
			}
		}
	}

	.account {
		&:hover {
			background: var(--color-action-primary-hover-lighten);
			border-radius: var(--border-radius-xs);
			color: var(--color-action-primary-active);
		}

		&.menu-open {
			.dropdown-content {
				display: block;
			}
		}

		&.mobile {
			.dropdown-content {
				left: 0;
			}
		}

		.user-avatar {
			height: 2rem;
			width: 2rem;

			img {
				border-radius: 3.5rem;
			}
		}
	}

	.sites {
		border-radius: 6px;
		cursor: pointer;

		.liferay-sites {
			.liferay-sites-dropdown {
				background: var(--white);
				border: 1px solid #c9c9cf;
				border-radius: 6px;
				color: var(--color-neutral-3);
				display: none;
				left: -1.5rem;
				margin-top: 2.25rem;
				position: absolute;
				text-align: -webkit-left;
				text-align: left;
				width: 15rem;
				z-index: 10;
			}

			.caret-bottom-icon {
				display: block;
			}

			.caret-top-icon {
				display: none;
				fill: var(--color-action-primary-default-hover);
			}
		}

		&.show {
			.sites-icon svg {
				fill: var(--color-action-primary-default-hover);
			}

			.liferay-sites {
				color: var(--color-action-primary-active);

				.caret-bottom-icon {
					display: none;
				}

				.caret-top-icon {
					display: block;
				}

				.liferay-sites-dropdown {
					display: block;
				}
			}
		}

		&:hover,
		&:active,
		&:focus {
			background-color: var(--color-action-primary-hover-lighten);
		}
	}

	.dropdown-content {
		background: var(--white);
		border: 1px solid var(--color-neutral-3);
		color: var(--color-neutral-3);
		display: none;
		right: 0;
		top: 4rem;
		width: 15rem;
		z-index: 10;

		&.show {
			display: block;
		}

		.account-configurables {
			border-bottom: 1px solid var(--color-neutral-3);
		}

		.settings {
			color: var(--color-neutral-3);
		}

		.sign-out {
			border-radius: var(--border-radius);
			color: var(--color-state-error);

			&:hover {
				background: var(--color-state-error-lighten-2);
			}
		}

		.sign-in:hover {
			background: var(--color-action-primary-hover);
			border-radius: var(--border-radius);
		}
	}

	.btn-primary,
	.menu-btn,
	.close-btn {
		&:hover,
		&:active,
		&:focus {
			outline: 1px solid var(--color-action-primary-active-lighten);
			outline-offset: 2px;
		}
	}

	.btn-primary {
		&:hover,
		&:active,
		&:focus {
			background-color: var(--color-action-primary-hover);
		}
	}

	.liferay-logo:hover,
	.liferay-logo .logo-text:hover {
		text-decoration: none;
	}

	.menu-button-group {
		.menu-btn {
			display: flex;
		}

		.close-btn {
			display: none;
		}

		&.menu-open {
			.menu-btn {
				display: none;
			}

			.close-btn {
				display: flex;
			}
		}
	}

	.nav-items-wrapper {
		align-items: stretch;
		background-color: var(--white);
		z-index: -1;
	}

	@media (max-width: 599px) {
		.primary-nav,
		.utility-nav {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		.nav-items-wrapper {
			&.menu-open {
				background-color: var(--white);
				opacity: 1;
				transform: translateY(0);
				visibility: visible;
				z-index: 2;
			}
		}

		.nav-items-wrapper .cta-container-mobile {
			display: flex;
			padding: 0 1.5rem 10rem;
			width: 100%;
		}

		.cta-btn-nav {
			display: none;
		}

		.account.primary {
			display: none;
		}
	}

	@media screen and (max-width: 991px) {
		.primary-nav,
		.utility-nav {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}

		.nav-items-wrapper {
			display: flex;
			flex-direction: column-reverse;
			left: 0;
			position: absolute;
			right: 0;
			top: 8rem;
			transform: translate3d(0, -150%, 0) scale3d(1, 1, 1) rotateX(0deg)
				rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
			transform-style: preserve-3d;
		}

		.menu-button-group {
			display: flex !important;
		}
	}

	@media (min-width: 600px) and (max-width: 1199px) {
		.primary-nav,
		.utility-nav {
			padding-left: 4rem;
			padding-right: 4rem;
		}

		.nav-items-wrapper {
			position: absolute;
			transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

			&.menu-open {
				background-color: var(--white);
				height: 100vh;
				overflow: auto;
				top: 8rem;
				transform: translateY(0);
				visibility: visible;
				z-index: 2;
			}
		}
	}

	@media (min-width: 1200px) {
		.primary-nav,
		.utility-nav {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}

	@media (min-width: 600px) {
		.cta-container-mobile {
			display: none;
		}
	}

	.menu-button-group {
		display: none;
	}
}

.utility-nav-container {
	text-align: -webkit-center;
	text-align: -moz-center;

	.utility-nav {
		border-bottom: 1px solid var(--color-neutral-3);
	}
}

html body:not(.has-edit-mode-menu) .content #main-content.layout-content {
	margin-top: 3.5rem;
}
