.claims-settled-container {
	min-height: 257px;
}

.claims-settled-container .claims-settled-header .claims-settled-title::after {
	background-color: #4d85ff;
	content: '';
	height: 1px;
	left: 28px;
	min-width: 20px;
	position: absolute;
	top: 50px;
}

.claims-settled-container .claims-settled-select {
	border-color: var(--white);
	padding: 5px;
	width: 105px;
}
