<div class="d-flex justify-content-end on-click-button">
	<button class="btn-unstyled dismiss-button mb-n5 mr-4 text-paragraph-sm">
		Dismiss [@clay["icon"] symbol="times"/]
</button>
</div>

<div class="align-items-center bg-neutral-1 d-flex p-5 pl-7 position-relative pre-dismiss rounded-xl">
	<div>
		<img class="mb-n6 ml-n6" src="[resources:sales-welcome-banner-icon.png]" />

		<h1>
			${languageUtil.get(locale, configuration.firstTitleText)}
		</h1>

		<p class="mt-5">
			${languageUtil.get(locale, configuration.descriptionText)}

				</p>
		<div class="d-flex">
			<button class="btn btn-primary mr-3 video-tour-button">
				[@clay["icon"] symbol="video"/] ${languageUtil.get(locale, configuration.primaryButtonText)}
			</button>

			<a class="btn btn-secondary text-brand-primary" href="https://www.liferay.com/pt/home">
					${languageUtil.get(locale, configuration.secondaryButtonText)}
						</a>
		</div>
	</div>

	<img src="[resources:sales-welcome-banner-bg.png]" />
</div>

<div class="align-items-center d-none justify-content-between p-5 pl-7 pos-dismiss">
	 <div>
			<img class="mb-n6 ml-n6" src="[resources:sales-welcome-banner-icon.png]" />

			<h1>
					${languageUtil.get(locale, configuration.secondTitleText)}
			</h1>
		</div>
	<div class="justify-content-around mt-4">
		<button class="btn btn-secondary mr-3 text-brand-primary video-tour-button">
			[@clay["icon"] symbol="video"/] ${languageUtil.get(locale, configuration.primaryButtonText)}
		</button>

		<a class="btn btn-primary" href="https://www.liferay.com/pt/home">
			${languageUtil.get(locale, configuration.secondaryButtonText)}
		</a>
	</div>
</div>