@import 'atlas-variables';

$prefix: '.page-editor__single-select-with-icon';

html#{$cadmin-selector} .cadmin {
	.page-editor__select-field {
		&.has-value {
			display: grid;
			gap: 4px;
			grid-template-columns: auto 32px;
		}

		#{$prefix} {
			display: grid;
			gap: 4px;
			grid-template-columns: 32px auto;
			place-items: stretch;
		}

		#{$prefix}__label-icon {
			grid-area: 1 / 1 / 2 / 2;
		}

		#{$prefix} label#{$prefix}__label-icon {
			font-size: $font-size-sm;
		}

		#{$prefix}__select,
		#{$prefix}__label {
			grid-area: 1 / 2 / 2 / 3;
		}

		#{$prefix}__select {
			opacity: 0;
			z-index: 1;
		}

		#{$prefix}:hover,
		#{$prefix}:focus-within {
			background-color: $cadmin-gray-100;
		}

		#{$prefix}:focus-within {
			box-shadow: $btn-focus-box-shadow;
		}
	}
}
