.label-chart {
	font-weight: 500;
}
.level-chart-card-height {
	box-sizing: border-box;
	height: 482px;
}

.label-gold {
	color: #c28b00;
	font-size: 26px;
	font-weight: 600;
	line-height: 32px;
}

.label-progress.number {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.label-progress {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.level-progress-bar {
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 24px;
	margin: 10px, 0;
	white-space: nowrap;
}

.level-progress-bar .progress-bar-item.remaining {
	border-radius: 4px;
}

.level-progress-bar .progress-bar-item.supplemental {
	background-color: #000239;
	border-radius: 4px;
}

.level-progress-bar .progress-bar-item.achieved {
	background-color: #4b9bff;
	border-radius: 4px;
}

.level-progress-bar .legend-item-label {
	color: #6c6c75;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.level-progress-bar .legend-bar-item {
	border-radius: 2px;
	height: 16px;
	margin-right: 11px;
	width: 16px;
}

.level-progress-bar .legend-bar-item.remaining {
	background-color: #000239;
}
.level-progress-bar .legend-bar-item.supplemental {
	background-color: #000239;
	margin-left: 32px;
}

.level-progress-bar .legend-bar-item.achieved {
	background-color: #4b9bff;
}

.level-progress-bar .achievedItem {
	margin-right: 2px;
}

.progress-bar-border {
	background-color: #e7efff;
	border-radius: 4px;
	box-sizing: border-box;
	max-height: 32px;
	padding: 4px;
}
