.dashboard-sales-container {
	min-height: 267px;
}

.dashboard-sales-container
	.dashboard-sales-header
	.dashboard-sales-title::after {
	background-color: #4d85ff;
	content: '';
	height: 1px;
	left: 28px;
	min-width: 20px;
	position: absolute;
	top: 50px;
}

.dashboard-sales-container .dashboard-sales-select {
	border-color: var(--white);
	padding: 5px;
	width: 105px;
}

.dashboard-sales-container .dashboard-sales-title::after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 1px;
	margin-top: 6px;
	position: absolute;
	width: 19px;
}

.dashboard-sales-space-legend {
	margin-left: 32px;
	width: 120px;
}

@media screen and (max-width: 1280px) {
	.dashboard-sales-title {
		word-break: break-word;
	}

	.dashboard-sales-space-legend {
		flex-direction: row !important;
		justify-content: space-evenly !important;
		margin-left: 0px !important;
		width: 100%;
	}

	.dashboard-sales-screen {
		padding-left: 24px;
		padding-right: 24px;
	}
}
