.menu-item-wrapper {
	border-radius: var(--border-radius-sm);

	&:hover {
		background: var(--color-action-primary-hover-lighten);
		color: var(--color-action-primary-default);

		.arrow-hover-icon {
			display: block;
		}
	}

	.arrow-hover-icon {
		display: none;
		transform: rotate(-45deg);
	}

	.menu-item-icon {
		height: 100%;
		max-width: 22px;
	}
}
