<div class="f-navigation-menu-item">
	<div class="menu-item-wrapper p-3">
		<div class=" align-items-baseline d-flex icon-text-container">
			[#if configuration.htmlIcon]
				<div class="menu-item-icon mr-2" data-lfr-editable-id="menuItemSvgIcon" data-lfr-editable-type="html">
					<svg class="mx-100 h-100"height="14" viewBox="0 0 14 14" width="14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect fill="#EBEEF2" height="14" width="14" />
					</svg>
				</div>
			[#else]
				<div class="menu-item-icon mr-2">
					<img class="mw-100 h-100" data-lfr-editable-id="MenuItemImageIcon" data-lfr-editable-type="image" src="https://www.liferay.com/documents/10182/0/default-icon.svg/1bb7e43c-c1dd-24fb-9d99-7d227fb00b01?t=1571952101803" />
				</div>
			[/#if]
			<div class="menu-item-text text-4 ml-1" data-lfr-editable-id="menuItemText" data-lfr-editable-type="rich-text">
				Menu Item Text
			</div>
		</div>
	</div>
</div>