<div class="f-navigation-menu-item">
	<div class="align-items-center d-flex justify-content-between menu-item-wrapper p-3">
		<div class="align-items-center d-flex icon-text-container">
				<div class="menu-item-icon mr-2">
					[#if configuration.htmlIcon]
						<div data-lfr-editable-id="menuItemSvgIcon" data-lfr-editable-type="html">
							<svg fill="none" height="14" viewBox="0 0 14 14" width="14" xmlns="http://www.w3.org/2000/svg">
								<rect fill="#EBEEF2" height="14" width="14" />
							</svg>
						</div>
					[#else]
						<img class="h-100 img mw-100" data-lfr-editable-id="MenuItemImageIcon" data-lfr-editable-type="image" src="https://www.liferay.com/documents/10182/0/default-icon.svg/1bb7e43c-c1dd-24fb-9d99-7d227fb00b01?t=1571952101803" />
					[/#if]
				</div>
			<div class="menu-item-text ml-1 text-4" data-lfr-editable-id="menuItemText" data-lfr-editable-type="rich-text">
				Menu Item Text
			</div>
		</div>

		<div class="arrow-hover-icon">
			[@clay["icon"] symbol="order-arrow-right"/]
		</div>
	</div>
</div>